<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Mensagem de aniversário</title>
</head>

<body
  style="margin:0; padding:0; font-family: Arial, sans-serif; line-height: 1.5; font-size: 14px; color: #444444; max-width:600px; margin:auto; border: 1px solid #ccc;">
  <div style="padding: 40px 10px;">
    <!-- TOPO -->
    <div style="text-align:left; padding: 0px 20px;">
      <img src="https://i.ibb.co/JjR3kjLR/logo.png" width="80"
        style="display:block; margin-bottom:20px;">
      <hr style="border:0; height:1px; background:#bbb; margin:10px 0 20px 0;">
    </div>

    <!-- CORPO -->
    <div style="padding: 0px 30px;">
      <p style="text-align:center; font-size:16px;"><strong>🎉 Feliz aniversário!🎉</strong>
      </p>
      <p style="text-align: justify;">{{nomeClienteFormatado}}, hoje é um dia muito especial e nós da CVM Turismo não poderíamos deixar de celebrar
        com você! Desejamos que o seu
        dia seja perfeito, que sua vida seja repleta de alegrias, saúde, realizações e muitas viagens inesquecíveis. 🧳🚐
      </p>
      <p style="text-align: justify;">Que a vida continue te levando por caminhos incríveis e que você nunca deixe de explorar o mundo com o coração
        aberto. Conte sempre com a gente para transformar seus sonhos em destinos!</p>
      <p style="text-align: justify;">Com carinho,</p>
      <p><strong>Equipe CVM Turismo 💚❤️💙</strong></p>
      <div style="text-align:center; margin: 20px 0;">
        <img src="https://i.ibb.co/20qLfdKB/img-birthday.png"
          width="90%" style="max-width:500px;">
      </div>
      <hr style="border:0; height:1px; background:#bbb; margin:10px 0 20px 0;">
    </div>

    <!-- REDES SOCIAIS -->
    <table align="center" cellpadding="5" cellspacing="0">
      <tr>
        <td align="center" width="40">
          <a href="https://www.instagram.com/cvm_turismo/" target="_blank">
            <img src="https://i.ibb.co/NdfS65SQ/instagram.png"
              width="20" alt="Instagram">
          </a>
        </td>
        <td align="center" width="40">
          <a href="https://www.youtube.com/@cvmturismo8949" target="_blank">
            <img src="https://i.ibb.co/xqCH7zBM/youtube.png"
              width="20" alt="YouTube">
          </a>
        </td>
        <td align="center" width="40">
          <a href="https://www.facebook.com/cvmtursmo33.com.br" target="_blank">
            <img src="https://i.ibb.co/dsMvf2BF/facebook.png"
              width="20" alt="Facebook">
          </a>
        </td>
      </tr>
    </table>

    <hr style="border:0; height:1px; background:#bbb; margin:10px 30px 20px 30px;">

    <!-- CONTATOS -->
    <table cellpadding="5" cellspacing="0" width="100%">
      <tr>
        <td align="right">
          <a href="https://wa.me/+5588996439394" style="text-decoration:none; padding-right: 5px;">
            <img src="https://i.ibb.co/yFhsXjXQ/whatsapp.png"
              width="16" style="vertical-align:middle;">
            <span style="margin-left:5px;">(88)9.9643-9394</span>
          </a>
        </td>
        <td align="left">
          <a href="https://wa.me/+5588988560982" style="text-decoration:none; padding-left: 5px;">
            <img src="https://i.ibb.co/yFhsXjXQ/whatsapp.png"
              width="16" style="vertical-align:middle;">
            <span style="margin-left:5px;">(88)9.8856-0982</span>
          </a>
        </td>
      </tr>
      <tr>
        <td align="center" colspan="2">
          <img src="https://i.ibb.co/dshZNVmw/envelope-at-fill.png"
            width="16" style="vertical-align:middle;">
          <a href="mailto:cvmturismojn@gmail.com" style="text-decoration:none;">cvmturismojn@gmail.com</a>
        </td>
      </tr>
      <tr>
        <td align="center" colspan="2">
          <a href="tel:88996439394" style="text-decoration:none;">
            <img src="https://i.ibb.co/p67g5nf1/telephone-fill.png"
              width="16" style="vertical-align:middle;">
            <span style="margin-left:5px;">(88)9.9643-9394</span>
          </a>
        </td>
      </tr>
    </table>
  </div>
</body>

</html>